@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --bg-color: #176B87;
    --primary-color: #EEF5FF;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    display: inline-block;
    border: 2px solid var(--primary-color);
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}
